<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComputerShop"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn"
            android:exported="true">
        </activity>
        <activity
            android:name=".ResetPassword"
            android:exported="true">
        </activity>
        <activity
            android:name=".CreateAccount"
            android:exported="true">
        </activity>
        <activity
            android:name=".ShopPage"
            android:exported="true">
        </activity>
        <activity
            android:name=".Notifications_Main"
            android:exported="true">
        </activity>
        <activity
            android:name=".MyOrdersHistory"
            android:exported="true">
        </activity>
        <activity
            android:name=".OrderDetails"
            android:exported="true">
        </activity>
        <activity
            android:name=".YourCart"
            android:exported="true">
        </activity>
        <activity
            android:name=".ShopList"
            android:exported="true">
        </activity>
        <activity
            android:name=".ProductDetails"
            android:exported="true">
        </activity>
        <activity
            android:name=".Kitchen"
            android:exported="true">
        </activity>
        <activity
            android:name=".DiningRoom"
            android:exported="true">
        </activity>
        <activity
            android:name=".Decor"
            android:exported="true">
        </activity>
        <activity
            android:name=".LivingRoom"
            android:exported="true">
        </activity>
        <activity
            android:name=".Office"
            android:exported="true">
        </activity>
        <activity
            android:name=".Bathroom"
            android:exported="true">
        </activity>
        <activity
            android:name=".Bedroom"
            android:exported="true">
        </activity>
        <activity
            android:name=".Profile"
            android:exported="true">
        </activity>
    </application>
</manifest>